// .icons {
//   width: 90px;
//   height: 70px;
//   margin-left: 15px;
//   background-size: 75px;
//   background-repeat: no-repeat;
// }

.forNum {
  font-size: 20px;
}
.firstScroll {
  display: flex;
  gap: 80px;
  justify-content: flex-end;
}
