<!-- <h1>hi</h1> -->

<router-outlet></router-outlet>
<!-- 
<h1>
  hi this is ramana,
  i am from visakhapatnam,
  i am having total 2.5yrs of experience as frontend developer,
  i am familer with the topics of html,css,javascript,angular,rxjs,ngrx,aggrid,jasmine and karma.

  currently i was working in qualminds technolgy pvt ltd as software engineer,
  here i work for frontend which we use javascript as frontend language and for bakend we are using .net
  i working on project of team velocity marketing,
  i work on applications of offersite,campaign portfolio,sitescrm.

  sales crm is custom cms application which is generating a website for dealer,
  where dealer has a flexibility of set his own layouts and set is own images in it,
  he can display a wide range of cars and vareity of payment options for available cars,
  he can also maintain is own inventor vehicles on the application and maintain his own variety of payments.

  if user was onboarded and done with is payment his order status can be monitor on orderstatus application,
  and details of features he added and renewal subcriptions this all will maintained in aggrement app. 

  campign portfolio is interlinked application for both offersite and sites crm ,as we prdefined templates of 500+ in offersites these will 
  utlised as campigns which of pamplates can be ordered at bulk of customized and process to payments and orderstatus.
</h1> -->