<div class="header-container">
  <mat-toolbar class="tool-container">
    <div class="tool-bar">
      <div>
        <span>Kkart</span>
        <span class="forPlus">Plus</span>
      </div>
      <input class="forInputs" placeholder="Search for products, brands and more">
      <button class="for-login" (click)="openDialog()">Login</button>
      <!-- <button >Open dialog</button> -->
      <a class="for-links">Become a Seller</a>
      <a class="for-links">More</a>
      <a class="for-links">Cart</a>
    </div>

  </mat-toolbar>
</div>